
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */
/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #1d1e21;
    font-weight: 500;
    }

a {
    text-decoration: none;
    color: #ff6633;}

/* ---------------------------------Header Styles -------------------------*/
header {
    background-color: #f9f9f9;
    padding: 20px;
  }

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
height: 50px;
margin-left: 10%;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 25px;
}

header nav ul li a {
    font-size: 1rem;
    color: #5e6167;
}
header nav ul li a:hover {color: #ff6633;}

/*------------------------------ Hero Section Styles -----------------*/
#hero {
    display: flex;
    width: 100%;
    height: 600px;
    background: url(../img/first-background.jpg) no-repeat center center / cover;
    padding: 100px 20px;
    color: white;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 350;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    font-weight: 300;
}

.btn {
    background-color: #ff6633;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}
.btn:hover {background-color: #f19070;}

/* ------------------Features Section Styles -----------------*/
#features {
    
    text-align: center;
}

#features h2 {
    font-size: 32px;
    flex-direction: column;
    margin-top: 40px;
    font-weight: 300;
}

#features .feature-list {
    display: flex;
    justify-content: center;
     }

#features article img {
    width: 250px;
    height: 150px;
    padding: 10%;
    justify-content: space-between;
    }

#features article p {
    justify-content: center;
    font-size: 1.1rem;
    color: #333;
}
.article2 {
    width: 100%;
    margin-top: 80px;
    display: flex;
    background-color: #fcefeb;
    justify-content: space-between;}
.article2 img {
    width: 40%;
    height: auto;
    margin-left: 0; }
.article2-content {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;}
.article2-content p {
    font-size: 28px;
    padding-inline: 20%;
    color: #434242;
    font-weight: 400;
    font-style: italic;
     }  
.article2-content span{color: #e89c84; font-weight: 600; font-style: italic;}
.article2-content .btn {
    margin-top: 5%;
    width: auto;
}
/*----------------store------------STORE--------------------------------*/
.form {display: flex;}
main {width: 55%;
    justify-self: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    }
aside {
       width: 45%;
       height: 100vh;
       justify-self: right;
       background-image: url(../level-2/store-image_by-andrew-neel-unsplash.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;}
aside img {width: 100%;
           height: 100vh;}
.formbox {
            max-width: 100%;
            margin: 10px 10% 10px;
            background-color: #fff;
            padding: 20px;

}
        
main h1 {
            color: #ff5722;
            text-align: center;
            width: 80%;
        margin: 40px 9% 50px;
        }
        
       
input[type="text"], select {
            width: 100%;
            padding: 10px;
            margin: 10px 0 20px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
       
        .name-fields {
            display: flex;
        }
        
        .name-fields div {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            vertical-align: top; /* Чтобы оба поля оставались в строке */
        }
        
        .name-fields label {
            display: block;
            margin-bottom: 5px;
        }
        
        #first-name, #last-name {
            width: 45%;
            margin-bottom: 20px;
        }
        
        .radio-group {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
        
        .radio-group input {
            margin-right: 5px;
        }
        
        .checkbox-group {
            margin: 20px 0;
            display: flex;
            align-items: center;
        }
        
        .checkbox-group input {
            margin-right: 10px;
        }
        
/* ---------------------Footer Styles--------------- */
hr {
    border: none;
    height: 0.9px; 
    background-color: #dbdbdb;
    width: 80%;
    margin: auto; 
}

footer {
    margin-top: 5%;
    padding: 20px;
    background-color: #fff;
    text-align: center;
   }

footer p {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
}

footer .social {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social li {
    display: flex;
    justify-content: center;
    width: 35px;
}
.social img {
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 26px;
    border: 1px #dbdbdb solid;
    padding: 5px;
    fill: #3636af;
}
      






